/* Outermost wrapping elements */

html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #111;
	font-size: 1.375em;
	font-family: 'Roboto', sans-serif;
}

body {
	position: relative;
	overflow: hidden;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 30px 0 0 0;
	color: #FFF;
	height: 100%;
	background-color: #111;
	font-size: calc(11px + 0.6vw);
}

.left_col {
    flex: 0 0 300px;
}


/* Generic element settings */

p {
    margin: 0px 0px 0.1rem 0px;
}

a, a:hover {
    color: #FFF;
}

.times {
    padding-left: 2px;
}

.smallcaps {
    font-variant: small-caps;
    font-weight: bold;
}

.estimate {
    color: #41BEEC;
}


/* The two primary containers, top and bottom */

.top_container {
    display: flex;
    min-height: 60%;
    max-height: 75%;
}

.bottom_container {
	padding: 0;
}


/* Sloan image and plot points. */

.sloan_gutter {
    position: relative;
    padding-right: 20px;
}

.sloan_gutter #sloan_image_holder {
    position: relative;
}

.sloan_gutter img {
    width: 300px;
	border: solid 1px #333;
}

#map_title {
    position: absolute;
    top: 7px;
    left: 0;
    padding: 3px 5px;
    border-left: solid 2px #EFA928;
    color: #EFA928;
    font-size: 12px;
    font-weight: bold;
}

.sloan_gutter .plot_point {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 4%;
    height: 4%;
    background-color: #41BEEC;
    border: 2px solid #000000BB;
    border-radius: 25px;
}

.sloan_gutter .plot_point:hover, .sloan_gutter .plot_point.selected:hover {
    background-color: #44FF4466;
    border: 2px solid #44FF44;
}

.sloan_gutter .plot_point.selected, .sloan_gutter .plot_point:active, .sloan_gutter .plot_point.selected:active {
    background-color: #44FF44;
    border: 2px solid #000000BB;
}

.sloan_gutter #dist_instrux {
    visibility: hidden;
    width: 300px;
    margin-top: 20px;
	text-align: left;
	font-size: 13px;
    line-height: 1.4;
    color: #EEEEEECC;
    padding: 10px;
    background-color: #00000066;
    border: solid 1px #333;
    overflow-y: auto;
}

.sloan_gutter #dist_instrux h6 {
    color: #EFA928;
    font-size: 14px;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}

.sloan_gutter #dist_instrux li + * {
    margin-top: 10px;
}

.sloan_gutter #dist_instrux .li_subtext {
    margin: 6px 10px 3px 0;
    padding: 5px 10px;
    font-size: 0.95em;
    color: #EEEEEE;
    border-radius: 3px;
    background-color: #EEEEEE22;
}

.sloan_gutter #dist_instrux strong {
    font-family: monospace, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    color: #EFA928;
}

#footnote {
    position: absolute;
    top: 310px;
    padding-right: 20px;
    user-select: none;
    text-align: left;
    color: #e1e1e1; 
    font-size: 12px;
}


/* WWT canvas */

#wwtcanvas {
	position: relative;
	width: 99%;     /* note: overridden in HBB_script.js */
	height: 100%;   /* note: overridden in HBB_script.js */
	margin: auto;
	border: solid 1px #333;
	box-sizing: content-box;
}

#page_title {
	position: absolute;
	top: 30px;
	right: 0px;
    padding: 10px 30px;
	margin: 0;
    background-color: black;
    color: #44ff44;
    opacity: .80;
    border-right: 3px solid #44ff44;
	font-size: calc(12px + 1vw); 
	font-weight: 700;
    pointer-events: none;
}


#angle_distance_container {
    position: absolute;
    bottom: 25px;
    right: 0px;
    padding-right: 20px;
    text-align: left;
    pointer-events: none;
}

#angle_measures, #size_text  {
    padding: 10px 5px;
    font-size: 0.75em;
}

#distance_button {
    text-align: right;
    pointer-events: all;
}

#distance_text {
    border: 3px solid #41BEEC;
    border-radius: 15px;
    padding: 4px 12px;
    font-size: 0.7em;
    font-weight: bold;
}

#distance_text:hover {
    background-color: #41BEEC22;
}

#distance_text:active {
    background-color: #41BEEC44;
}

#distance_text a {
    color: #41BEEC;
    text-decoration: none;
}

#distance_measure, #size_text {
    padding: 10px 5px;
    font-size: 0.75em;
}

#distance_measure {
    margin-bottom: 20px;
}

#angle_distance_container .value {
    font-family: monospace, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    color: #44FF44;
}

#zoom_deglong_text, #zoom_rad_text, #galaxy_length_val {
    display: none;
}


#reset_target {
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-family: "Font Awesome 5 Free";
    color: #41BEECC0;
    font-size: 0.8em;
    display: none;
}

#reset_target:hover {
    color: #41BEEC;
}


#zoom_pan_container {
	position: absolute;
	bottom: 20px;
	width: 100%;
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    #zoom_pan_container {
        display: none;
    }
}

#zoom_pan_instrux {
	width: 35em;
    margin: 0 auto;
    padding: 2px;
	text-align: center;
	font-size: 0.6em;
	color: #EEEEEECC;
    background-color: #00000066;
    border-radius: 30px;
}

#zoom_pan_instrux strong {
    font-family: monospace, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    color: #EFA928;
}

.begin_ss_h4 {
    margin: 25px 15px 0.3rem 15px;
	color: #EFA928;  /* used to be #8AFF8A */
    font-size: calc(10px + 1.25vw);    
}

.begin_ss_p {
    margin: 0px 15px 0.3rem 15px;
}

/* Galaxy Spectrum popup images */

.spectrum_popup {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    overflow: hidden;
}

.spectrum_popup img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    border: 2px solid #333333BB;
}

.close_spectrum {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-weight: bolder;
}

.close_spectrum:hover {
    cursor: pointer;
}



/* Target Descriptions */

#description_box {
	position: relative;
	padding: 10px;
	margin-top: 20px;
	background-color: #222223;
	border: solid 1px #44ff44; /* considered #FBCB1F alternate color */
	border-radius: 5px;
	box-shadow: 0px 0px 15px #000 inset;
}

#description_container {
	display: block;
	height: 100%;
	overflow-y: auto;
}

#description_box .container-fluid {
	display: none;
}

.points_expl {
    user-select: none;
    text-align: center;
    padding: 20px;
    color: #EFA928;
    border-bottom: dotted #44FF44 2px;
}

#description_box .row * + div {
	margin-top: 1em;
}

#description_box .row h3 {
    color: white;
    padding: 10px 0px 15px;
    border-bottom: dotted #44FF44 2px;
    text-align: center;
    font-size: calc(10px + 1.5vw);
}

#description_box .row h4 {
    margin-bottom: 4px;
	color: #EFA928;  /* used to be #8AFF8A */
    font-size: calc(10px + 1.25vw);
}

#description_box .row h5 {
    margin-bottom: 4px;
	color: #f33413;  /* used to be #8AFF8A */
    font-size: calc(8px + 1.25vw);
}

#description_box .row p {
    margin-bottom: 15px;
}

#description_box .row a {
	color: #41BEEC;
    font-size: 1em;
}

#description_box i {
	position: absolute;
	bottom: 10px;
	right: -30px;
    font-family: "Font Awesome 5 Free";
	font-style: normal;
}

.galaxy_type {
    font-size: 80%;
    color: #44FF44;
    padding-left: 10px;
}

.topbullet {
    margin: 10px 0 5px;
    color: #8AFF8A;
}

#description_box ul strong {
    padding-right: 6px;
}

#scroll_arrow {
    display: none;
	color: #EFA928; /* considered #FBCB1F alternate color */
}

.fa-arrow-down {
	display: none;
}



/* Colophon section */

#colophon {
	position: absolute;
	bottom: 10px;
	left: 5%;
    width: 90%;
    display: flex;
    align-items: center;
}

#colo_left {
    min-width: 70px;
    padding-bottom: 5px;
}

#colophon p {
    font-size: 9px; /* used to 0.5em */
    color: #BBB;
}

.colophon_link {
    color: #41BEEC;
}

#colophon img {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-right: 5px;
}




